<!DOCTYPE html>
<html lang="pt-br">
<%- include("head.ejs") %>
<body>
	<%- include("header.ejs") %>
	<main class="page-content">
		<div class="wrapper">
			<%- content %>
		</div>
	</main>
	<%- include("footer.ejs") %>
	<!--[Ref] csswizardry.com/2020/05/the-fastest-google-fonts-->
	<link rel="preload" as="style"
				href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,600;1,600&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap">
	<link rel="stylesheet" media="print" onload="this.media='all'"
				href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,600;1,600&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap">
	<noscript>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,600;1,600&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap">
	</noscript>
</body>
</html>