<footer class="site-footer h-card">
	<div class="wrapper">
		<h2 class="footer-heading">Obrigado por ler!</h2>
		<div class="footer-col-wrapper">
			<div class="footer-col footer-col-1">
				<ul class="contact-list">
					<li class="p-name">
						Feito com <strong style="color:#e8e8e8">&hearts;</strong> por
						<strong style="color:#e8e8e8">Matheus Avellar</strong>
					</li>
					<li>Rio de Janeiro, Brasil</li>
					<li><a class="u-email" href="mailto:o@amendo.im">o@amendo.im</a></li>
				</ul>
			</div>
			<div class="footer-col footer-col-2">
				<ul class="social-media-list">
					<li>
						<a href="https://avl.la">
							<svg class="svg-icon">
								<use xlink:href="/assets/social-icons.svg#web"></use>
							</svg>
							<span class="username">avl.la</span>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/aveiiar">
							<svg class="svg-icon">
								<use xlink:href="/assets/social-icons.svg#twitter"></use>
							</svg>
							<span class="username">aveiiar</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>