<!DOCTYPE html>
<html lang="pt-br">
{%- include head.html -%}
<body>
  {%- include header.html -%}
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  {%- include footer.html -%}
  <!--[Ref] csswizardry.com/2020/05/the-fastest-google-fonts-->
  <link rel="preload" as="style"
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,600;1,600&display=swap">
  <link rel="stylesheet" media="print" onload="this.media='all'"
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,600;1,600&display=swap">
</body>
</html>