---
layout: default
lang: "en"
---
<div class="home">
  <h1 class="page-heading">O Amendoim</h1>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    {%- if page.list_title == "Posts" -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    {%- endif -%}
    <ul class="post-list">
      <!-- reverse sort by date -->
      {% assign sortedposts = site.posts | sort: "date" | reverse %}
      {%- for post in sortedposts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <p class="post-meta">
          <span class="dt-published-wrapper">
            <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
              {% assign m = post.date | date: "%-m" %}
              {{ post.date | date: "%-d" }}
              {% case m %}
                {% when '1' %}jan
                {% when '2' %}fev
                {% when '3' %}mar
                {% when '4' %}abr
                {% when '5' %}mai
                {% when '6' %}jun
                {% when '7' %}jul
                {% when '8' %}ago
                {% when '9' %}set
                {% when '10' %}out
                {% when '11' %}nov
                {% when '12' %}dez
              {% endcase %}
              {{ post.date | date: "%Y" }}
            </time>
          </span>
        </p>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title }}
          </a>
        </h3>
        {%- if site.show_excerpts and post.excerpt -%}
          <p class="post-excerpt">
            {{ post.excerpt }}
          </p>
        {%- endif -%}
        <p class="post-categories">
          {%- for cat in post.categories -%}
            <span class="post-category">{{ cat | escape }}</span>
          {%- endfor -%}
        </p>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>