---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <p class="post-meta">
      <span class="dt-published-wrapper">
        Postado em
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign m = page.date | date: "%-m" %}
          {{ page.date | date: "%-d" }} de {% case m %}{%
            when '1' %}janeiro{%
            when '2' %}fevereiro{%
            when '3' %}março{%
            when '4' %}abril{%
            when '5' %}maio{%
            when '6' %}junho{%
            when '7' %}julho{%
            when '8' %}agosto{%
            when '9' %}setembro{%
            when '10' %}outubro{%
            when '11' %}novembro{%
            when '12' %}dezembro{% endcase
            %} de {{ page.date | date: "%Y" }}
        </time>
      </span>
        •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        por <strong class="p-author h-card" itemprop="name">
          {%- if page.author -%}
            {{ page.author }}
          {%- else -%}
            Matheus Avellar
          {%- endif -%}
        </strong>
      </span>
      {%- if page.edit -%}
      <span class="dt-edited-wrapper">
        Editado em
        <time class="dt-edited" datetime="{{ page.edit | date_to_xmlschema }}" itemprop="datePublished">
          {% assign m = page.edit | date: "%-m" %}
          {{ page.date | date: "%-d" }} de {% case m %}{%
            when '1' %}janeiro{%
            when '2' %}fevereiro{%
            when '3' %}março{%
            when '4' %}abril{%
            when '5' %}maio{%
            when '6' %}junho{%
            when '7' %}julho{%
            when '8' %}agosto{%
            when '9' %}setembro{%
            when '10' %}outubro{%
            when '11' %}novembro{%
            when '12' %}dezembro{% endcase
            %} de {{ page.date | date: "%Y" }}
        </time>
      </span>
      {%- endif -%}
    </p>
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
  </header>
  <div class="post-content e-content blog-post" itemprop="articleBody">
    {{ content }}
  </div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  <hr>
  <section id="post-rating">
    <strong>Deixe sua avaliação desse post!</strong>
    <div id="rating-buttons">
      <label>
        Gostei
        <button id="btn-like-post">
          <img src="/assets/img/like.svg" draggable="false">
        </button>
        <span id="like-count"></span>
      </label>
      <label>
        Meh
        <button id="btn-meh-post">
          <img src="/assets/img/meh.svg" draggable="false">
        </button>
        <span id="meh-count"></span>
      </label>
      <label>
        Não gostei
        <button id="btn-dislike-post">
          <img src="/assets/img/dislike.svg" draggable="false">
        </button>
        <span id="dislike-count"></span>
      </label>
    </div>
  </section>

  <script defer src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/7.17.1/firebase-firestore.js"></script>
  <script defer src="/assets/js/init-firebase.js"></script>
</article>
